body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95vh;
} 

header{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 120px;
}

.main-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 35px
}

.logo-container{
    display: flex;
    width: 790px;
    justify-content: center;
    align-items: center;
}

.perfil{
    height: 45px;
    width: 45px;
}

#dropdown{
    background-color: #d3d3d3;
    height: 60px;
}

main{
    height: 100%;
    width: 100%;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

 /* ========================= RESULT AREA ========================= */

 .results-container{
    overflow: scroll;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.search-result{
    overflow: scroll;
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 5px ridge rgb(39, 39, 39);
}

.register-result{
    display: flex;
    text-align: center;
    flex-direction: column;
    overflow: scroll;
    border: 5px ridge rgb(39, 39, 39);
    width: 600px;
    height: 100%;
}

.list-result{
    width: 200px;
    height: 100%;

}
.item-result{
    width: 575px;
    height: 310px;
    margin-bottom: 30px;
    background-color: #d3d3d3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.title-container{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;

}

/* ========================= RESULT AREA ========================= */


.barraPesquisa{
    height: 30px;
    width: 600px;
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 10px;
}

.buttonCadastrar{
    width: 230px;
    height: 40px;
    background-color: rgb(99, 255, 120);
    border-radius: 50px;
    margin: 0;
    padding: 0;
}

.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container img{
    width: 40px;
    height: 30px;
}

.button-register a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.button-register{
    background-color: rgb(99, 255, 120);
    height: 50px;
    width: 112px;
    border-radius: 7px;
    text-decoration: none;
    border: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 100%;
    justify-content: center;
    color: #717171;
    background-color: #dcdbdc;
    margin-bottom: -40px;
}

.social-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    list-style-type: none;
    gap: 50px;
    font-size: 40px;
}
.social-logo a {
    color: #717171;
}
.text-logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
} 


@media (max-width: 425px) {


    #dropdown{
        background-color: #d3d3d3;
        height: 45px;
        width: 67px;
    }

    /*  */
    .perfil{
        height: 35px;
        width: 35px;
    }

    .nav-menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 60px;
        width: 360px;
        gap: 15px;
        margin-right: 15px
    }

    .button-register{
        display: flex;
        background-color: rgb(99, 255, 120);
        height: 40px;
        width: 90px;
    }

    .button-register a{
        text-decoration: none;
        color: black;
        font-size: 13px;
    }

    .barraPesquisa{
        height: 30px;
        width: 220px;
        background-color: rgb(211, 211, 211);
        border: none;
        border-radius: 10px;
    }

    .input-container button{
        height: 30px;
        width: 40px;
    }

    .input-container img{
        height: 20px;
        width: 25px;
    }

    .logo-container{
        display: flex;
        width: 200px;
        justify-content: center;
        align-items: center;
    }

    .logo-container img{
        height: 80px;
        width: 200px;
    }

    .results-container{
        overflow: scroll;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 500px;
        padding: 10px;
    }

    .search-result{
        overflow: scroll;
        height: 100%;
        width: 300px;
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 5px ridge rgb(39, 39, 39);
    }
    
    .register-result{
        display: flex;
        text-align: center;
        flex-direction: column;
        overflow: scroll;
        border: 5px ridge rgb(39, 39, 39);
        width: 300px;
        height: 100%;
        margin-top: 10px;
    }

    header{
        display: flex;
        width: 100%;
        height: 70px;
        justify-content: space-between;
        align-items: center;
    }

    
}