body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95vh;
} 

header{
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 30px;
}

.logo{
    height: 120px;
}

.logo-container{
    display: flex;
    width: 790px;
    justify-content: center;
    align-items: center;
}

main{
    height: 100%;
    width: 100%;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results-container{
    overflow: scroll;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;
}

.register-result{
    display: flex;
    text-align: center;
    flex-direction: column;
    overflow: scroll;
    border: 5px ridge rgb(39, 39, 39);
    width: 800px;
    height: 100%;
}

.adicionados{
    display: flex;
    text-align: center;
    flex-direction: column;
    overflow: scroll;
    border: 5px ridge rgb(39, 39, 39);
    width: 800px;
    height: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    color: #717171;
    background-color: #dcdbdc;
    margin-bottom: -40px;
}

.social-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    list-style-type: none;
    gap: 50px;
    font-size: 40px;
}

.social-logo a {
    color: #717171;
}

.text-logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
} 

@media (max-width: 425px) {

    /*  */
    .nav-menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 60px;
        width: 360px;
        gap: 15px;
        margin-right: 15px
    }

    .input-container button{
        height: 30px;
        width: 40px;
    }

    .input-container img{
        height: 20px;
        width: 25px;
    }

    .logo-container{
        display: flex;
        width: 200px;
        justify-content: center;
        align-items: center;
    }

    .logo-container img{
        height: 80px;
        width: 200px;
    }

    .results-container{
        overflow: scroll;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 500px;
        padding: 10px;
    }

    
    .register-result{
        display: flex;
        text-align: center;
        flex-direction: column;
        overflow: scroll;
        border: 5px ridge rgb(39, 39, 39);
        width: 300px;
        height: 100%;
        margin-top: 10px;
    }

    .adicionados{
        display: flex;
        text-align: center;
        flex-direction: column;
        overflow: scroll;
        border: 5px ridge rgb(39, 39, 39);
        width: 300px;
        height: 100%;
        margin-top: 10px;
    }

    header{
        display: flex;
        width: 100%;
        height: 70px;
        justify-content: space-between;
        align-items: center;
    }

    
}