<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="main-container">
            <div class="logo-container">
                <img class="logo" src="../static/img/Logo.png" alt="logo">
            </div>
        </div>
        <div class="perfil-container">
            <img class="perfil" src="../static/img/perfilIcon.png" alt="perfil">
        </div>
    </header>
    
    <main>
        <div class="input-container">
            <form id="searchForm" action="{% url 'book_search' %}" method="get">
                <div class="input-container">
                    <input type="search" name="query" class="barraPesquisa">
                    <button type="submit"><img src="../static/img/lupa.png" alt="lupa-pesquisa"></button>
                </div>
            </form>  
        <div id="" class="search-result">
            <h1>Resultado da Pesquisa "{{ query }}"</h1>

            {% if books %}
                <ul>
                    {% for book in books %}
                        <li>
                            <strong>"{{ book.title }}"</strong> by "{{ book.authors |join:", " }}
                            <img src="{{ book.thumbnail }}" alt="{{ book.title }}">
                    {% endfor %}
                        </li>
                </ul>
            {% else %}
                <p>Nenhum Resultado Encontrado</p>
            {% endif %}
        </div>
    </main>

</body>
</html>