<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="main-container">
            <div class="logo-container">
                <img class="logo" src="../static/img/Logo.png" alt="logo">
            </div>
        </div>
        <div class="perfil-container">
            <img class="perfil" src="../static/img/perfilIcon.png" alt="perfil">
        </div>
    </header>
    
    <main>
        <div class="input-container">
            <input type="search" name="barraPesquisa" class="barraPesquisa">
            <img src="../static/img/lupa.png" alt="lupa-pesquisa">
        </div>
        <input type="button" value="Cadastrar" class="buttonCadastrar">
        <div class="search-result">
            
        </div>
    </main>

</body>
</html>