asgiref==3.7.2
asttokens==2.3.0
backcall==0.2.0
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
comm==0.1.4
debugpy==1.6.7.post1
decorator==5.1.1
dj-database-url==0.4.2
Django==3.2.22
django-widget-tweaks==1.4.12
executing==1.2.0
gunicorn==21.2.0
idna==3.4
ipykernel==6.16.2
ipython==7.23.1
jedi==0.19.0
matplotlib-inline==0.1.6
nest-asyncio==1.5.7
packaging==23.1
parso==0.8.3
pickleshare==0.7.5
platformdirs==3.10.0
prompt-toolkit==3.0.39
psutil==5.9.5
psycopg2-binary==2.9.9
pure-eval==0.2.2
Pygments==2.16.1
pyreadline3==3.4.1
python-dateutil==2.8.2
pyzmq==25.1.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.2
tornado==6.1
traitlets==5.9.0
typing_extensions==4.7.1
tzdata==2023.3
wcwidth==0.2.6
social-auth-app-django==5.0.0
urllib3==1.26.6
