body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95vh;
} 

header{
    display: flex;
    width: 100%;
    height: 220px;
    justify-content: space-between;
    align-items: center;
}

.logout-button{
    margin-right: 30px;
}
.logo-container{
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 70px;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.perfil{
    width: 120px;
    height: 120px;
}

.meu-perfil{
    width: 150px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data-container{
    width: 700px;
    height: 335px;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.qtd-Livro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.qtd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
}
.favoritos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
}