<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Home</title>
    <link rel="shortcut icon" type="imagex/png" href="../static/img/IconLogo.png">
</head>
<body>
    <header>
        <div class="main-container">
            

            <div class="nav-menu">
                <button class="button-register"><a class="btnlink" href="{% url 'registerBook' %}">Registrar Livro</button>
            
                    <div class="dropdown">
                        <a id="dropdown" class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                            <img class="perfil" src="../static/img/perfil.png" alt="perfil">
                        </a>
                      
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'meuPerfil' %}">Meu Perfil</a></li>
                          <li><a class="dropdown-item" href="{% url 'meus_livros' %}">Meus Livros</a></li>
                          <li><a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Sair</a></li>
                        </ul>
                        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                            {% csrf_token %}
                        </form>
                    </div>
            </div>
        </div>
        
    </header>
    
    <main>

        <div class="logo-container">
            <img class="logo" src="../static/img/Logo.png" alt="logo">
        </div>

        <div class="input-container">
            <form id="searchForm" action="{% url 'book_search' %}" method="get">
                <div class="input-container">
                    <input type="search" name="query" class="barraPesquisa">
                    <button type="submit"><img class="btn-image" src="../static/img/lupa.png" alt="lupa-pesquisa"></button>
                </div>
            </form> 
        </div> 
        <div class="results-container">
            <div id="" class="search-result">
                <h1>Resultado da Pesquisa "{{ query }}"</h1>

                {% if books %}
                    <div class="list-result">
                        {% for book in books %}
                        <div class="item-result"> 
                            <strong class="title-container">Titulo: </strong> "{{ book.title }}" <br>
                            <strong class="author-container">Autor: </strong> "{{ book.authors |join:", " }} <br>
                            <img src="{{ book.thumbnail }}" alt="{{ book.title }}">
                            <form method="post" action="{% url 'adicionar_livro' %}">
                                {% csrf_token %}
                                <input type="hidden" name="titulo" value="{{ book.title }}">
                                <input type="hidden" name="autor" value="{{ book.authors |join:", " }}">
                                <input type="hidden" name="sinopse" value="Sinopse do livro">
                                <input type="hidden" src="{{ book.thumbnail }}" alt="">
                                <button type="submit">Adicionar</button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>     
                {% else %}
                    <p>Nenhum Resultado Encontrado</p>
                {% endif %} 
            </div>

            <div class="register-result">
                <h1>Livros Registrados</h1>
                {% for livro in livros_registrados %}
                <div class="item-result">
                    <h2>{{ livro.titulo }}</h2>
                    <p>Autor:{{ livro.autor }}</p> 
                    <p>Data de Registro:{{ livro.data }}</p>
                    <p>Sinopse:{{ livro.sinopse }}</p>
                    <form method="post" action="{% url 'delete_book' livro.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Remover livro">
                    </form>
                </div>  
                {% endfor %}
            </div>
        </div>   
    </main>

    <footer>

        <div class="footer-logos">
            <div class="social-logo">
                <li class="normie">
                    <a href="https://github.com/IsabeladpCastro/IRPyBook" target="_blank">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                </li>
                <li class="normie">
                    <a href="https://www.linkedin.com/in/isabela-castro-43299125a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>
            </div>
        </div>
        <p>&copy;- IRPyBook</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="../static/js/fav.js"></script>

    {% block scripts %}
      <script>
        {% if messages %}
          {% for message in messages %}
            alert("{{ message }}");
          {% endfor %}
        {% endif %}
      </script>
    {% endblock %}




</body>
</html>